// app global css in SCSS form
@import 'https://fonts.googleapis.com/css?family=Inconsolata';

html {
  min-height: 100%;
}

.q-btn.disabled {
  // opacity: 0.5 !important;
  background-color: #f0f0f0 !important;
  color: #9e9e9e !important;
}